<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137497752-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137497752-1');
</script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>Hi, I'm Lucas!</title>
  </head>
  <body>
    <section id="top">

            <% include partials/nav.ejs %>


        <div class="container info">
            <div id="hi-work" class="py-5">
                <h1>Check out what I've made</h1>
                <div>
                    <i class="fas fa-terminal"></i><span id="typing"></span>
                </div>
                <a href="#intro"><i class="fas fa-angle-down bounce2"></i></a>
            </div>
        </div>
    </section>
    <section id="intro">
            <div class="row">
                <div class="col-12 text-center intro-box">
                    <i class="fas fa-desktop"></i>
                    <h2>Selected works</h2>
                    <p>Below are some projects I've worked on recently.</p>
            </div>
        </div>
    </section>
    <section id="shopping-buddy">
        <div class="container">
        <div class="row py-4">
            <div class="img-box col-md-12">
                <div class="img-size">
                <img class="ss-work img-fluid" src="assets/images/shopping.png">
            </div>
                <div class="project-info">
                <h2>Shopping Buddy</h2>
                <p class="work-para mb-0">Simple CRUD shopping list app. Utilizes mySQL/Node backend, Materialize and Handlebars on frontend.</p>
                <div class="project-buttons">
                    <a class="github" href="https://github.com/lucasmerat/Shopping-Buddy" target="_blank">View on GitHub</a>
                    <a class="game" href="https://dry-hollows-88321.herokuapp.com/" target="_blank">Use App</a>
                </div>
            </div>
            </div>
    </section>
    <section id="queer-eye-quiz">
        <div class="container">
        <div class="row py-4">
            <div class="img-box col-md-12">
                <div class="img-size">
                <img class="ss-work img-fluid" src="assets/images/qeq.png">
            </div>
                <div class="project-info">
                <h2>Queer Eye Quiz</h2>
                <p class="work-para mb-0">Which of the Fab Five would you be best friends with? This app uses Node/Express and a 10 question quiz to tell you.</p>
                <div class="project-buttons">
                    <a class="github" href="https://github.com/lucasmerat/QueerEyeQuiz" target="_blank">View on GitHub</a>
                    <a class="game" href="https://immense-plains-16744.herokuapp.com/" target="_blank">Use App</a>
                </div>
            </div>
            </div>
    </section>
    <section id="should-i-move-here">
            <div class="container">
            <div class="row py-4">
                <div class="img-box col-md-12">
                    <div class="img-size">
                    <img class="ss-work img-fluid" src="assets/images/simh.png">
                </div>
                    <div class="project-info">
                    <h2>Should I Move Here?</h2>
                    <p class="work-para mb-0">1-stop-shop for choosing a city to move to. Aggregates information about cities from multiple API endpoints and displays them to the user via a clean mobile-responsive interface.</p>
                    <div class="project-buttons">
                        <a class="github" href="https://github.com/lucasmerat/Should-I-Move-Here" target="_blank">View on GitHub</a>
                        <a class="game" href="https://mo01.github.io/Should-I-Move-Here/" target="_blank">Use App</a>
                    </div>
                </div>
                </div>
        </section>
    <section id="multiplayer-rps">
            <div class="container">
            <div class="row py-4">
                <div class="img-box col-md-12">
                    <div class="img-size">
                    <img class="ss-work img-fluid" src="assets/images/rps.png">
                </div>
                    <div class="project-info">
                    <h2>Multiplayer RPS</h2>
                    <p class="work-para mb-0">A 2-player rock-paper-scissors game built with Firebase and Javascript. Includes a chat feature.</p>
                    <div class="project-buttons">
                        <a class="github" href="https://github.com/lucasmerat/MultiplayerRPS" target="_blank">View on GitHub</a>
                        <a class="game" href="/MultiplayerRPS" target="_blank">Play Game</a>
                    </div>
                </div>
                </div>
        </section>
    <section id="giphy-share">
        <div class="container">
        <div class="row py-4">
            <div class="img-box col-md-12">
                <div class="img-size">
                <img class="ss-work img-fluid" src="assets/images/GiphyShare.png">
            </div>
                <div class="project-info">
                <h2>GiphyShare</h2>
                <p class="work-para mb-0">A lightweight web app to save and share your favorite GIFs. Makes use of the Giphy API, Facebook/Twitter share buttons and local storage to save favorites for later. </p>
                <div class="project-buttons">
                    <a class="github" href="https://github.com/lucasmerat/GiphyShare" target="_blank">View on GitHub</a>
                    <a class="game" href="/GiphyShare" target="_blank">Use App</a>
                </div>
            </div>
            </div>
    </section>
    <section id="vinny">
            <div class="container">
            <div class="row py-4">
                <div class="img-box col-md-12">
                    <div class="img-size">
                            <img class="ss-work img-fluid" src="assets/images/vinny.png">
                        </div>
                    <div class="project-info">
                    <h2>My Cousin Vinny Trivia</h2>
                    <p class="work-para mb-0">A 10 question trivia game on the topic of My Cousin Vinny. Uses timers and intervals to make the game exciting.</p>
                    <div class="project-buttons">
                            <a class="github" href="https://github.com/lucasmerat/TriviaGame" target="_blank">View on GitHub</a>
                            <a class="game" href="/TriviaGame" target="_blank">Play Game</a>
                    </div>
                </div>
                </div>
        </section>
        <section id="ssb">
                <div class="container">
                <div class="row py-4">
                    <div class="img-box col-md-12">
                        <div class="img-size">
                                <img class="ss-work img-fluid" src="assets/images/ssb.png">
                            </div>
                        <div class="project-info">
                        <h2>Super Smash Bros RPG</h2>
                        <p class="work-para mb-0">A Javascript-powered, click-based RPG game themed like Super Smash Bros. Pick a character and defeat all available enemies.</p>
                        <div class="project-buttons">
                                <a class="github" href="https://github.com/lucasmerat/unit-4-game" target="_blank">View on GitHub</a>
                                <a class="game" href="/SuperSmashRPG" target="_blank">Play Game</a>
                        </div>
                    </div>
                    </div>
            </section>
            <section id="pirate">
                    <div class="container">
                    <div class="row py-4">
                        <div class="img-box col-md-12">
                            <div class="img-size">
                                    <img class="ss-work img-fluid" src="assets/images/hang.png">
                                </div>
                            <div class="project-info">
                            <h2>Pirate Word Guess</h2>
                            <p class="work-para mb-0">A pirate-themed hangman game. Powered by Javascript.</p>
                            <div class="project-buttons">
                                    <a class="github" href="https://github.com/lucasmerat/Word-Guess-Game" target="_blank">View on GitHub</a>
                                    <a class="game" href="/Word-Guess-Game" target="_blank">Play Game</a>
                            </div>
                        </div>
                        </div>
                </section>
    
                <% include partials/footer.ejs %>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/dlcnine/TypeWriter@1.0.0/dist/typewriter.min.js"></script>
    <script src="assets/js/index.js"></script>
</body>
  </html>