body {
    font-family: 'Lato', sans-serif !important;
    width:100%;
}

a {
    color: #638170;
}

/* Top styles */
#top {
    background: url(../images/sky.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    height:100vh;
}

.navbar-dark::after{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(0,0,0,.3);
}

.nav-item {
    font-size:1em;
}

.nav-link{
    color: #efdf90 !important;
    font-size:1.2em;
}

.nav-link:hover, .logo:hover{
    color:#fff5c6 !important;
}

.navbar{
    z-index: 2;
}

.navbar-brand{
    color: rgba(0,0,0,.7) !important;
}

.navbar-dark {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.buttonz {
    width:100%;
}

.github, .game {
    margin:10px;
}
    

.logo {
    font-size:1.7em;
    color: #efdf90 !important;
}

#hi {
    z-index:2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hydrated{
    color: #f2df84;
    font-size: 1.2em;
    margin-top: 22px;
}

.info{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hi > h1 {
    color: #efdf90;
    font-size:3.9em
}

.wave {
    font-size: 3.5em;

}

.wave:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

.hamburger {
    border: none;
    margin-top: 6px;
}

/* Bio styles */

.note > p > a:hover {
    color: #485e51;
    text-decoration: none;
}

.note > p {
    margin-top: 20px;
    color: rgba(0,0,0,.7);
}

.note {
    margin: 0 auto;
}

#bio{
    padding-top:4em;
    padding-bottom: 4em;
}

.abt-me{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.img {
    text-align:center;
}

.face{
    height: 224px;
    width: 232px;
    border-radius: 50%;
    border: 3px solid #117d91;
}

/* form styles */

form {
    margin: 0 auto;
    width: 60%;
}

.submit {
    background-color: #95b0a1;
    color:white;
}

.submit:hover {
    background-color:#485e51;
}

#contact {
    padding: 4em 0em 4em 0em;
}

/* Portfolio styles */

.fa-desktop {
    font-size:3em;
}

.ss-work {
    transition: transform 1s;
}

.ss-work:hover {
    transform: scale(1.1);
}

#work1 {
    background-color: #e0acf1;
}

#work2 {
    background-color: #ffe1be;
}

.point {
    font-size:3em;
    margin-top: 30px;
}

/* Footer styles */
#footer {
    background-color: #247b8c;
    padding-top: 6em;
}

.social > a {
    font-size: 2em;
    color: #efdf90;
}

.social > a:hover {
    color:#fff5c6;
}

.cr > p {
   color: #abb4af;
   font-size:.5em;
   margin: 0;
}

/* media queries */

@media screen and (max-width: 2000px){
    .work1-button {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right:0px;
    }

    .work2-button {
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
    }

    .button-box {
        align-items: center;
        display:flex;
        flex-direction:column;
    }

    .img-box-2 {
        display:flex;
        flex-direction:row-reverse;
        padding-right: 0px;
        padding-left: 0px;
    }

    .img-box-1 {
        padding-left:0px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 576px){
    .abt-me{
        text-align: center;
    }
    .left-button-row {
        display:flex;
        flex-direction:column-reverse;
    }

    .work1-button {
        justify-content: center;
        padding-right: 0px;
        align-items: center;
    }

    .work2-button {
        justify-content: center;
        align-items: center;
    }

    .work-para {
        padding: 20px;
        text-align:center;
    }

    .img-box-2 {
        justify-content: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .img-box-1 {
        justify-content: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .button-box {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hi > h1 {
       font-size: 3.4em;
    }

    .info,#top,.navbar-dark,.navbar-dark::after{
        height: 80vh;
    }

    .custom-toggler.navbar-toggler {
        border-color: rgb(255,102,203);
    }
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239,223,144, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

}