body {
    font-family: 'Lato', sans-serif !important;
    width:100%;
}

a {
    color: #638170;
}

/* Top styles */
#top {
    background-color: #c3ffdc
}

.nav-item {
    font-size:1em;
}

.navbar-brand{
    color: rgba(0,0,0,.7) !important;
}

.buttonz {
    width:100%;
}

.github, .game {
    margin:10px;
}
    

.logo {
    font-size:1.5em;
}

#hi {
    text-align: center;
}

#hi > h1 {
    color: rgba(0,0,0,.7);
}

.wave {
    font-size: 2.5em;

}

.wave:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

.hamburger {
    border: none;
    margin-top: 6px;
}

/* Bio styles */

.note > p > a:hover {
    color: #485e51;
    text-decoration: none;
}

.note > p {
    margin-top: 20px;
    color: rgba(0,0,0,.7);
}

.note {
    margin: 0 auto;
}

#bio{
    padding-top:6em;
    padding-bottom: 6em;
}

.img {
    text-align:center;
}

.face{
    height: 13em;
    width: 14em;
}

/* form styles */

form {
    margin: 0 auto;
    width: 60%;
}

.submit {
    background-color: #95b0a1;
    color:white;
}

.submit:hover {
    background-color:#485e51;
}

#contact {
    padding: 4em 0em 4em 0em;
}

/* Portfolio styles */

.fa-desktop {
    font-size:3em;
}

.ss-work {
    transition: transform 1s;
}

.ss-work:hover {
    transform: scale(1.1);
}

#work1 {
    background-color: #e0acf1;
}

#work2 {
    background-color: #ffe1be;
}

.point {
    font-size:2.5em;
}

/* Footer styles */
#footer {
    background-color: #c3ffdc;
    padding-top: 6em;
}

.social > a {
    font-size: 2em;
    color: #83a994;
}

.social > a:hover {
    color:#485e51;
}

.cr > p {
   color: #abb4af;
   font-size:.5em;
   margin: 0;
}

/* media queries */

@media screen and (max-width: 2000px){
    .work1-button {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right:0px;
    }

    .work2-button {
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
    }

    .button-box {
        align-items: center;
        display:flex;
        flex-direction:column;
    }

    .img-box-2 {
        display:flex;
        flex-direction:row-reverse;
    }

    .img-box-2 {
        padding-right:0px;
    }
    .img-box-1 {
        padding-left:0px;
    }

}

@media screen and (max-width: 576px){
    .abt-me{
        text-align: center;
    }
    .left-button-row {
        display:flex;
        flex-direction:column-reverse;
    }

    .work1-button {
        justify-content: center;
        padding-right: 0px;
        align-items: center;
    }

    .work2-button {
        justify-content: center;
        align-items: center;
    }

    .work-para {
        padding: 20px;
        text-align:center;
    }

    .img-box-2 {
        display:flex;
        justify-content: center;
    }

    .img-box-1 {
        display:flex;
        justify-content: center;
    }

    .button-box {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}